/*@keyframes gradientAnimation{
  0% {
      background-position:0% 50%;
  }
  50% {
      background-position:100% 50%;
  }
  100% {
      background-position:0% 50%;
  }
}
body {
  margin:0;
  padding:0;
  background: linear-gradient(45deg ,#07105b,#0c5b50,#4a0328,#9086c3);
  background-size: 400% 400%;
  animation: gradientAnimation 15s linear infinite alternate;

}*/
